# SPDX-FileCopyrightText: Copyright (c) Yegor Bugayenko, 2025
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: make
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  make:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - run: sudo apt-get update && sudo apt-get install --yes poppler-utils
      - run: sudo apt-get update && sudo apt-get install --yes aspell
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 4.0.1
          bundler-cache: true
      - run: gem install texsc
      - run: sudo snap install vale
      - uses: zauguin/install-texlive@v4.0.0
        with:
          packages: scheme-basic geometry etoolbox xcolor paralist pgf xkeyval mathtools tikzmark booktabs to-be-determined
          texlive_version: 2025
      - run: make
